/* ANIMATIONS */

@keyframes slideIn {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes switchModules {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes bonr {
  0% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes fadeModule {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInTypeBeat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  98% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes mainPresentationSlideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes mainPresentationSlideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes ldlProgressBar {
  0% {
    width: 0%;
    opacity: 1;
  }
  98% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.95) rotate(340deg);
  }
  50% {
    transform: scale(1) rotate(340deg);
  }
  100% {
    transform: scale(0.95) rotate(340deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slidein {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
