.topbar {
  position: absolute;
  z-index: 4;
  height: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: var(--cornerRadius);
  border-bottom-right-radius: var(--cornerRadius);
  backdrop-filter: blur(70px) saturate(350%) brightness(60%);
  background-image: var(--mainSlideGradient);

  border-bottom: 4px solid var(--thirdColourTransparent);
  border-left: 4px solid var(--thirdColourTransparent);
  border-right: 4px solid var(--thirdColourTransparent);
  box-sizing: border-box;

  left: 50%;
  transform: translateX(-50%);
}

.topbar-channel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
  top: 5%;
  left: 2%;

  width: 33%;
  height: 90%;

  border-radius: var(--cornerRadius);
  backdrop-filter: saturate(110%);
  background-image: linear-gradient(#ffffff1f, #ffffff0c);
  padding: 12px;
  box-sizing: border-box;
  border: 4px solid #ffffff1a;
}

.topbar-logo-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  height: 50%;
  width: 100%;
}

.topbar-channel-logo {
  width: 70%;
  height: 100%;
  background-image: url(/images/meteoch.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}

.topbar-channel-square-logo {
  width: 128px;
  height: 128px;
  align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: var(--cornerRadius);
  margin-right: 2%;

  background-image: url(/images/ssp_square_blue.png);
  background-size: cover;
  background-position: 0%;
}

.topbar-affiliate-logo {
  position: absolute;
  right: 0%;
  width: 30%;
  height: 100%;
  background-image: url(/images/sspwxr.png);
  background-size: contain;
  background-position: center;
  border-radius: var(--cornerRadius);
  background-repeat: no-repeat;
  max-width: 512px;
}

.topbar-datetime {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: var(--textColour1);
  font-size: 32pt;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  font-family: var(--monospace-font), monospace;
  white-space: nowrap;
  line-height: 1;
  text-shadow: 3px 3px 3px #000000;
  align-self: flex-start;
}

.topbar-upnext-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 5%;
  width: 63%;
  height: 90%;
  box-sizing: border-box;
  padding-right: 2%;
}

.topbar-current-slide-group {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--fontSizeFour);
  gap: 1rem;
  overflow: hidden;
}

.topbar-progressbar-group {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.topbar-current-product-progressbar {
  width: 50%;
  height: 90%;
  border-radius: var(--cornerRadius);
  background: #000000e0;
}

.topbar-current-product-progress-element {
  height: 100%;
  width: 0%;
  border-radius: var(--cornerRadius);
  background: #ffffffe0;
}

.topbar-presentation-info {
  position: relative;
  width: 100%;
  height: 60%;
}

.topbar-location-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35%;
  font-size: var(--fontSizeThree);
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
  box-sizing: border-box;
  gap: 1rem;
}

.topbar-current-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  overflow: hidden;
  flex: 1 1 auto;
  height: 100%;
  border-radius: var(--cornerRadius);
  border-radius: var(--cornerRadius);
  backdrop-filter: blur(70px) saturate(350%) brightness(60%);
  background-image: linear-gradient(#ffffff1f, #ffffff0c);
  padding: 10px;
  box-sizing: border-box;
  border: 4px solid #ffffff1a;
  font-size: var(--fontSizeThree);
}

.topbar-current-location img {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.topbar-next-locations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2 2 auto;
  min-width: 0;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  will-change: transform;
  transform-origin: center;
  font-weight: 400;
  font-size: var(--fontSizeTwo);
}

#current-location {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
