@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  --monospace-font: 'Geist Mono', monospace;
  image-rendering: auto;
  color: var(--textColour2);
  --primaryColour: #101218e1;
  --secondaryColour: #101218e1;
  --thirdColour: #242424b7;
  --fourthColour: #101218e1;
  --fifthColour: #2b415e96;
  --sixthColour: #3f465ae1;
  --seventhColour: #212121;
  --thirdColourTransparent: #a8d5ffcb;
  --textColour1: #ffffffe1;
  --textColour2: #ffffff;
  --textColourTempHigh: #fb9e52;
  --textColourTempLow: var(--thirdColourTransparent);
  --cornerRadius: 30px;
  --defaultOutline: 4.8px solid #ffffff00;
  --mainSlideBlur: blur(40px);

  --fontSizeOne: 20pt;
  --fontSizeTwo: 26pt;
  --fontSizeThree: 30pt;
  --fontSizeFour: 36pt;
  --fontSizeFive: 49pt;
  --fontSizeSix: 50pt;
  --fontSizeSeven: 90pt;

  --mainGradient: linear-gradient(var(--primaryColour), var(--secondaryColour));
  --secondGradient: linear-gradient(var(--fifthColour), var(--fourthColour));
  --thirdGradient: linear-gradient(var(--sixthColour), var(--seventhColour));
  --mainSlideGradient: var(--secondGradient);
}
