@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@400;600&display=swap');
body {
    background-color: rgb(63, 63, 63);
    color: white;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
  }
  #LDL-main {
    width: 90%;
    height: 12%;
    top: 86.5%;
    position: absolute;
    text-align: left;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    transform: translateX(5%);
  }
  .LDL-slide-title {
    font-weight: 400;
    font-size: large;
    font-family: 'Inter', sans-serif;
  }
  .LDL-title {
    font-size: medium;
  }
  .LDL-product {
    font-size: x-large;
    font-weight: 600;
  }
.LDL-titles {
  display: flex;
  flex-direction: row; /* Horizontal arrangement */
  justify-content: space-between; /* Equal space between items */
}
.LDL-products {
  display: flex;
  flex-direction: row; /* Horizontal arrangement */
  justify-content: space-between; /* Equal space between items */
}
  .view {
    width: 800px;
    height: 600px;
    background-image: url("/graphics/weatherhds-overlay-HD.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .container {
    background-color: rgba(94, 132, 255, 0); /* Adjust the background color and opacity as needed */
    overflow: hidden;
    height: 430px;
    width: 98%;
    display: none;
    top: 2%;
    position: relative;
}
h1 {
  font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    margin-left: 4px;
    line-height: 34px;
    font-weight: 400;
  }
h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  word-wrap: break-word;
  margin: 0px;
}
  p {
    font-family: 'DM Sans', sans-serif;
    font-size: large;
    margin-left: 4px;
  }
  #slideshow {
    top: 2%;
    left: 2%;
    width: 98%;
    position: inherit;
    height: 60%;
  }
  
  .visible {
    display: block;
  }

  #background-container {
    background-image: url("https://media.discordapp.net/attachments/846581893200871484/1136811761257959566/channels4_profile.png");
    width: 98.8%;
    top: 0%;
    left: -0.4%;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: inherit;
    z-index: 1;
  }

  #logos {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the logos horizontally */
  }
  
  #logos img {
    margin-bottom: 10px;
  }

  #datetime {
    width: 248px;
    height: 27px;
    position: absolute;
    bottom: 93%;
    left: 66%;
    font-size: 20px;
    text-align: center;
  }

  #upNext {
    position: absolute;
    bottom: 0.5%;
    font-size: 22.5px;
  }

  #textElement {
    position: absolute;
    width: 100%;
    height: 47px;
    font-size: 20px;
    word-wrap: break-word;
  }

  #seasonmsg {
    position: absolute;
    bottom: 93.5%;
    left: 41.5%;
    font-size: 20px;
  }
  .radar {
    width: 100%;
    height: 100%;
  }