@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins';
  color: var(--textColour2);
  --primaryColour: #101218e1;
  --secondaryColour: #101218e1;
  --thirdColour: #242424b7;
  --fourthColour: #101218e1;
  --fifthColour: #2b415e96;
  --sixthColour: #3f465ae1;
  --seventhColour: #212121;
  --thirdColourTransparent: #a2d2ffcb;
  --textColour1: #ffffffe1;
  --textColour2: #ffffff;
  --cornerRadius: 30px;
  --defaultOutline: 4.8px solid #ffffff00;
  --mainSlideBlur: blur(40px);

  --fontSizeOne: 22pt;
  --fontSizeTwo: 28pt;
  --fontSizeThree: 34pt;
  --fontSizeFour: 39pt;
  --fontSizeFive: 49pt;
  --fontSizeSix: 50pt;
  --fontSizeSeven: 90pt;

  --mainGradient: linear-gradient(var(--primaryColour), var(--secondaryColour));
  --secondGradient: linear-gradient(var(--fifthColour), var(--fourthColour));
  --thirdGradient: linear-gradient(var(--sixthColour), var(--seventhColour));
  --mainSlideGradient: var(--secondGradient);
}

body {
  margin: 0 0;
  background-color: #000000;
  font-size: var(--fontSizeThree);
  overflow: hidden;
}

/* THE MAIN SLIDES */

#stationid {
  display: none;
}
#alerts {
  display: none;
}
#current {
  display: none;
}
#radar {
  display: none;
}
#forecast-intraday {
  display: none;
}
#forecast-shortterm {
  display: none;
}
#forecast-shortterm-d2 {
  display: none;
}
#forecast-extended {
  display: none;
}
#\37 day-graph {
  display: none;
}
#airquality {
  display: none;
}

.view {
  height: 1440px;
  overflow: hidden;
  position: relative;
}

.wallpaper{
  position: absolute;
  z-index: -487845784;
  width: 100%;
  height: 100%;
  right: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}
hr {
  margin-bottom: -20px;
  margin-top: 0%;
  border-top: 2px solid var(--textColour2);
}
#loading-screen {
  position: relative;
  width: 100%;
  display:none;
  height: 100%;
  background: linear-gradient(180deg, rgb(0,0,0) 0%, rgb(27, 27, 27) 100%);
  text-align: center;
  z-index: 1000;
}
#loadingscreen-spinny {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 20%;
  background-image: url(/images/hdslogo_2024.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
  z-index: 99999;
}
.topbar {
	position: sticky;
	z-index: 4;
	width: 95%;
	height: 20%;
  margin: 0 auto;
	
	border-bottom-left-radius: var(--cornerRadius);
  border-bottom-right-radius: var(--cornerRadius);
	backdrop-filter: blur(70px) saturate(350%) brightness(60%);
  background-color: var(--fifthColour);

  border-bottom: 4px solid var(--thirdColourTransparent);
  border-left: 4px solid var(--thirdColourTransparent);
  border-right: 4px solid var(--thirdColourTransparent);
}
.topbar-channel-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 70%;
}
.topbar-stripe-group {
  display: grid;
  position: sticky;
  top: 0%;
  width: 88%;
  height: 40%;
  background-image: linear-gradient(to right, rgba(206, 212, 218, 0.2), rgba(230, 230, 230, 0.349));
  border-radius: var(--cornerRadius);
  align-self: flex-start;
}
.topbar-channel-logo {
  width: 28%;
  height: 100%;
  background-image: url(/images/meteoch.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}
.topbar-channel-square-logo {
  width: 178px;
  height: 178px;
  align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: var(--cornerRadius);

  background-image: url(./images/ssp_square_blue.png);
  background-size: cover;
  background-position: 0%;
}
.topbar-affiliate-logo {
	position: absolute;
	right: 0%;
	width: 30%;
	height: 100%;
	background-image: url(/images/mwm.png);
	background-size: cover;
	background-position: 0%;
	border-radius: var(--cornerRadius);
	background-repeat: no-repeat;
	max-width: 512px;
}
.topbar-datetime {
	width: 16%;
	right: 0%;
	bottom: -2%;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	font-weight: bold;
	font-size: var(--fontSizeTwo);
	color: var(--textColour1);
	font-size: 27pt;
	position: absolute;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  font-family: 'JetBrains Mono', monospace;
  white-space: nowrap;
}
.topbar-presentation-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	left: 43%;
	text-align: left;
	white-space: nowrap;
	bottom: 3%;
	line-height: 1.9;
}
.topbar-presentationinfo-thingies {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: center;
}
.topbar-presentationinfo-thingies p {
  margin: auto auto;
  margin-left: 2%;
  font-size: var(--fontSizeTwo);
}
.material-symbols-outlined {
  font-size: var(--fontSizeFive) !important;
}
/*  MAIN PRESENTATION  */
.main-slides {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 22%;
}
.main-slide {
	margin: auto auto;
  max-width: 1716px;
	width: 90%;
	height: 95%;
  padding-top: 5px;
}
/* STATION ID */
.main-info-container {
  position: relative;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: 25px;
  width: 100%;
  height: 85%;
  margin: 0 auto;
  margin-top: 3%;
}
.main-info-channelLogo {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 10%;
}
.main-info-operatorLogos {
	position: absolute;
	width: 34%;
	height: 35%;
	left: 3%;
}
.main-info-links {
	position: absolute;
	bottom: -1%;
	left: 3%;
	height: 30%;
	line-height: 1.2;
	font-size: 44.8pt;
}

.main-info-hds1info {
	position: absolute;
	right: 9%;
	bottom: 9%;
	width: 24%;
	height: 16%;
}
.hdsLogo {
  height: 50%;
}
.versionID {
  top: -10%;
  position: absolute;
}
.main-info-netlogo-container {
	position: absolute;
	top: 39%;
	left: 3%;
	width: 37%;
	height: 11%;
	background-image: url(/images/meteoch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.main-info-sspwxrlogo-container {
	position: absolute;
	top: 12%;
	right: -16.5%;
	width: 100%;
	height: 35%;
	background-image: url(/images/sspwxr.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
/*  CURRENT CONDITIONS  */
.main-current-slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main-current-leftcontainer {
  display: block;
  background-image: var(--mainGradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  width: 30%;
  height: 100%;
  border-radius: var(--cornerRadius);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
#main-current-box-filter {
  border-radius: var(--cornerRadius);
  width: 100%;
  height: 100%;
}
.main-current-rightcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  width: 64%;
  height: 91.545%;
  padding: 2%;
  line-height: 1.6;
  font-weight: 600;
  font-size: var(--fontSizeFour);
}
#main-current-condition {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: var(--fontSizeThree);
}
#main-current-icon {
  display: block;
  width: 100%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(2px) brightness(70%);
}
#main-current-temp {
  text-align: center;
  width: 100%;
  font-size: var(--fontSizeSeven);
  font-weight: 300;
}
.main-current-conditions-slotone {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
.main-current-condtions-box {
  width: 30%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--cornerRadius);
  background-image: var(--secondGradient);
  font-size: var(--fontSizeTwo);

  outline: var(--defaultOutline);
}
.main-current-icon-container {
  width: 100%;
  height: 30%;

}
#main-current-windicon {
  height: 100%;
}
#main-current-feelslikeicon {
  height: 100%;
}
.main-current-boxlabel {
  font-weight: 200;
}
#main-current-windvalue {
  font-weight: 200;
}
#main-current-windvalue-gust {
  font-size: var(--fontSizeOne);
  font-weight: lighter;
}
#main-current-feelslikevalue {
  font-weight: 200;
  font-size: var(--fontSizeFour);
}
.main-current-sunicon {
  height: var(--fontSizeFive);
}
.main-current-sunrisesunset-container {
  display: flex;
  margin: auto auto;
  justify-content: space-between;
  width: 65%;
  font-size: var(--fontSizeTwo);
}
.main-current-conditions-slottwo {
  overflow: hidden;
  height: 55%;
}
.main-current-extraproducts {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  overflow: hidden;
}
.main-current-module1 {
  display: none;
}
.main-current-module2 {
  display: none;
}
/* PRECIPITATION */

.main-precip-slide-container {
  width: 100%;
  height: 100%;
}

.main-precip-eventtype-container {
  background-image: var(--mainSlideGradient);
  border-radius: var(--cornerRadius);

  word-wrap: break-word;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content:center;
}
.main-precip-narrative {
  width: 80%;
  padding-top: 2%;
}
.main-precip-map-container {
  height: 63%;
  width: 100%;
  margin-top: 2%;
  outline: auto;
}

/* INTRADAY FORECAST */

.main-intraday-slide-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.main-intraday-period {
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: var(--cornerRadius);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 23%;
  height: 100%;
  text-align: center;
  text-rendering: optimizeSpeed;
}
.main-intraday-period-title {
	backdrop-filter: blur(90px) saturate(850%) brightness(60%);
	border-top-left-radius: var(--cornerRadius);
	border-top-right-radius: var(--cornerRadius);

	width: 100%;
	height: 15%;
	top: 0%;
	position: fixed;
  line-height: 1.2;
  font-weight: 300;
  font-size: var(--fontSizeFour);
}
.main-intraday-time {
  font-size: var(--fontSizeThree);
  font-weight: 700;
}
#main-precip-map {
  height: 100%;
}
.main-intraday-period-temp {
  font-weight: 200;
  font-size: var(--fontSizeSix);
}
.main-intraday-period-condition {
  font-weight: 600;
  font-size: var(--fontSizeThree);
  margin-top: 25%;
  overflow: visible;
  text-wrap: nowrap;
}
.intradayicon {
  margin-top: 2%;
  background-color: #a6caff09;
  backdrop-filter: blur(1px) saturate(350%) brightness(60%);
  border-radius: var(--cornerRadius);

}
.main-intraday-temp-slider-container {
  background-color: #69696933;
  backdrop-filter: saturate(250%) brightness(130%);
  border-radius: var(--cornerRadius);
  margin-top: 10%;
  width: 75%;
  height: 43%;
  position: relative;
}
.main-intraday-temp-slider {
  border-radius: var(--cornerRadius);
  backdrop-filter: saturate(250%) brightness(130%);
  background-color: #92929254;
  width: 100%;
  position: absolute;
  height: 10%;
  bottom: 0%;
}

/* SHORT-TERM FORECAST */
.main-shortterm-slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.forecast-shortterm-summary {
  display: block;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  width: 30%;
  height: 100%;
  border-radius: var(--cornerRadius);
}
.forecast-shortterm-text {
  display: flex;
  justify-content: space-between;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  width: 64%;
  height: 91.545%;
  padding: 2%;
  line-height: 1.6;
  font-size: var(--fontSizeFour);
  border-radius: var(--cornerRadius);
}
.forecast-shortterm-title {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.forecast-shortterm-icon {
  display: block;
  width: 50%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
.forecast-shortterm-condition {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.forecast-shortterm-temp {
  text-align: center;
  width: 100%;
  font-size: var(--fontSizeSeven);
  font-weight: 300;
}
/* EXTENDED FORECAST */ 
.main-forecast-slide-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
}
.main-forecast-day {
  height: 100%;
  width: 18%;
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
}
.main-forecast-title {
  height: 10%;
  width: 100%;
  backdrop-filter: blur(90px) saturate(850%) brightness(60%);
  border-top-left-radius: var(--cornerRadius);
  border-top-right-radius: var(--cornerRadius);
  padding-top: 4%;
}
.main-forecast-condition {
  white-space: nowrap;
}
.main-forecast-icon {
  backdrop-filter: blur(1px) saturate(350%) brightness(60%);
  width: 100%;
  height: 20%;
}
.main-forecast-temp {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 500;
  font-size: var(--fontSizeThree);
}
.main-forecast-temp-labels {
  margin: 0 auto;
  width: 75%;
  font-size: var(--fontSizeOne);
  font-weight: bold;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main-forecast-labels {
  margin: 0 auto;
  width: 75%;
  font-size: var(--fontSizeOne);
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6.5px;
}
.main-forecast-wind {
  width: 100%;
  font-size: var(--fontSizeOne);
  white-space: nowrap;
  backdrop-filter: blur(1px) saturate(350%) brightness(60%);
}
/* RADAR */
#radar {
	z-index: 51;
	width: 100%;
	height: 100%;
	max-width: 100% !important;
}
.mapboxgl-control-container {
  width: 100%;
  height: 100% !important;
}
#radar-div-so-that-mapbox-will-be-happy {
  z-index: 50;
}
.main-radar-time-container {
	background-image: linear-gradient(#7f8fbd4d, #a6beff2a);
	backdrop-filter: blur(10px) saturate(150%);
	border-radius: var(--cornerRadius);
	width: 20%;
	height: 10%;
	position: absolute;
	z-index: 55;
	bottom: 17%;
	left: 40%;
  font-family: 'JetBrains Mono', monospace;
	text-align: center;
  outline: 2px solid #c3e0ff59;
}
.main-radar {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  opacity: 0%;
}
.main-7day-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: var();
  width: 100%;
  height: 100%;
}
#main-7day-canvas-container {
  display:flex;
  margin-right: 1px;
  margin-left: 1px;
  height: 100%;
}




/* AIR QUALITY */
.main-aq-slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main-aq-flexcontainer {
  display: flex;
  overflow:visible;
  justify-content: space-around;
  background-image: var(--mainSlideGradient);
  border-radius: var(--cornerRadius);
  backdrop-filter: var(--mainSlideBlur);
  flex-direction: column;
  text-align: center;
  align-items: center;
  
  width: 30%;
  height: 100%;
}
.main-aq-otherflexcontainer {
  display: flex;
  overflow:visible;
  text-wrap: nowrap;
  justify-content: space-around;
  background-image: var(--mainSlideGradient);
  border-radius: var(--cornerRadius);
  backdrop-filter: var(--mainSlideBlur);
  flex-direction: row;
  
  width: 63%;
  height: 100%;
}
.main-aq-text-container {
  width: 100%;
  height: 80%;
  text-align: center;
}
#main-aq-icon {
	width: 30%;
	height: 30%;
}
#main-aq-narrative {
  position: absolute;
  top: 4%;
  left: 4%;
  word-wrap: break-word;
  white-space: break-spaces;
}
#main-aq-category {
  font-size: var(--fontSizeSix);
}
.main-aq-top-label {
  font-weight: 200;
  font-size: var(--fontSizeTwo);
}
.main-aq-top-value {
  font-weight: 600;
  font-size: var(--fontSizeTwo);
}










/* ALERTS */
.ldl-bulletin-crawl {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
  background-position: center;
  border-top: 2px groove #c2c2c2;
  line-height: 1.2;
  z-index: 91;
}
.alert-box {
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  padding: 1%;
  line-height: 0.2;
}
.ldl-bulletin-text-container {
  font-size: var(--fontSizeFour);
  text-shadow: 2px 2px 2px black;
  font-weight: 500;
}
.ldl-bulletin-subtext-container {
  font-size: var(--fontSizeThree);
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 2px 2px black;
}
.main-alerts-standby {
  position: relative;
  text-align: center;
  line-height: 0.2;
  margin: 0 auto;
  padding: 0.5%;
  width: 100%;
  height: 90%;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: var(--cornerRadius);
}
.main-alerts-standby-brainrot {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
.main-alerts-standby-scrolltextcontainer {
	position: relative;
	white-space: nowrap;
	width: 100%;
	height: 5%;
	left: 0%;
	text-shadow: rgb(0, 0, 0) 1pt 1pt 1pt;
	bottom: -64%;
  animation: slidein 2s ease-in-out 1;
}
.main-alerts-standby-scrolltextdecorative {
  animation: scroll 20s linear infinite;
  margin-top: 2%;
}
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slidein {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* LDL */
.ldl-weather {
	position: absolute;
  bottom: 0%;
	z-index: 4;
	width: 99.65%;
	height: 18%;
  margin: 0 auto;
	
	border-top-left-radius: var(--cornerRadius);
  border-top-right-radius: var(--cornerRadius);
	backdrop-filter: blur(70px) saturate(350%) brightness(60%);
  background-color: var(--fifthColour);

  border-top: 4px solid var(--thirdColourTransparent);
  border-left: 4px solid var(--thirdColourTransparent);
  border-right: 4px solid var(--thirdColourTransparent);
}
.ldl-container {
	display: flex;
	justify-content: center;
	bottom: -45%;
	width: 100%;
	height: 310px;
}

.ldl-presentation {
	display: flex;
	flex-direction: column;
	width: 85%;
	overflow: hidden;
}

.ldl-presentation-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  line-height: 1;
}

.ldl-presentation-slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.ldl-icon {
  height: 100%;
}

.ldl-slide-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.ldl-location-progressbar-container {
  display: block;
  width: 100%;
  height: 1.5px;
  position: relative;
  margin-bottom: 1pt;
  background-color: #686d7257;
  border-radius: 15px;
}

#ldl-location-progressbar {
  position: absolute;
  height: 100%;
  width: 0%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 15px;
}

.ldl-bottomtext-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.ldl-marquee {
	width: 55%;
	height: 100%;
  background-image: linear-gradient(to right, rgba(206, 212, 218, 0.2), rgba(201, 201, 201, 0.349));
	border-radius: 4pt;
	font-weight: 500;
	overflow: hidden;
  font-size: var(--fontSizeTwo);
}

.ldl-locationlabel-container {
  width: 32%;
  height: 100%;
}

#ldl-location-label {
  overflow: visible;
  white-space: nowrap;
  font-size: var(--fontSizeOne);
}

#ldl-location {
  height: 25.5%;
}

.ldltext-primary {
  font-size: var(--fontSizeFour);
  align-self: center;
  margin-right: 48px;
  text-wrap: nowrap;
  white-space: nowrap;
}
.ldltext-primarybutsmaller {
  font-size: var(--fontSizeTwo);
  align-self: center;
  margin-right: 40px;
  text-wrap: nowrap;
  white-space: nowrap;
}
.ldltext-secondary {
  font-size: 28pt;
  font-weight: 400;
  align-self: center;
  margin-right: 5px;
}

#ldl-current {
  position: relative;
  width: 90%;
}

#ldl-forecast {
  position: relative;
  display: none;
  width: 70%;
}

#ldl-aqi {
  position: relative;
  display: block;
  width: 65%;
  display: none;
}

.ldl-netlogo {
	width: 20%;
	height: 60%;
  font-size: var(--fontSizeOne);
  line-height: 1.2;
  font-weight: bold;
  text-align: right;
  padding-right: 1%;
}

#ldl-netlogo-container {
  width: 100%;
  height: 40%;
  background-image: url(/images/meteoch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* LDL CURRENT CONDITIONS */

.ldl-current-cond-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 65%;
}

#ldl-current-condition {
  align-self: center;
  flex-grow: 1;
}

.ldl-current-wind {
	width: 35%;
	align-self: center;
}

#ldl-current-wind-label {
  font-size: var(--fontSizeOne);
  font-weight: 300;

}

#ldl-current-wind-value {
  font-size: var(--fontSizeOne);
  font-weight: 500;
}

.ldl-current-module {
  display: none;
  justify-content: space-between;
  margin-left: 5px;
  line-height: 1;
  font-size: var(--fontSizeOne);
  width: 90%;
  flex-grow: 3;
  font-weight: 300;
  align-self: center;
  margin-right: 5px;
}

#ldl-current-module2 {
  text-wrap: nowrap;
  display: flex;
  flex-grow: 4;
  font-size: var(--fontSizeOne);
}

.module-value {
  font-weight: 500;
}



/* FORECAST */

.ldl-forecast-day-cond {
  align-self: center;
}

.ldl-day {
  position: relative;
  display: flex;
}

#ldl-forecast-day0-container {
  width: 100%;
}

#ldl-forecast-day1-container {
  width: 100%;
}

/* ANIMATIONS */
@keyframes slideIn {
  0% {
      transform: translateX(-300%);
  }
  100% {
      transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
      transform: translateX(0%);
  }
  100% {
      
      transform: translateX(-300%);
  }
}

@keyframes switchModules {
  0% {
      transform: translateY(-300%);
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes fadeModule {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fadeInTypeBeat {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes progressBar {
  0% {
      width: 0%;
  }
  98% {
      width: 100%;
      opacity: 1;
  }
  100% {
      width: 100%;
      opacity: 0;
  }
}
@keyframes mainPresentationSlideIn {
  0% {
    transform: translateX(100%);
}
  100% {
    transform: translateX(0%);
}
}

@keyframes mainPresentationSlideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
}
  100% {
    transform: translateY(-100%);
    opacity: 0;
}
}
@keyframes ldlProgressBar {
  0% {
    width: 0%;
    opacity: 1;
}
  98% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
}
}
@keyframes pop {
  0% {
      transform: scale(0.95) rotate(340deg);
  }
  50% {
      transform: scale(1) rotate(340deg);
  }
  100% {
      transform: scale(0.95) rotate(340deg);
  }
}