@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  font-family: 'Red Hat Text';
  color: var(--textColour2);
  --primaryColour: #212529;
  --primaryColourTransparent: #212529cb;
  --textColour1: #CED4DA;
  --textColour2: #F8F9FA;
  --cornerRadius: 10px;
}

body {
  margin: 0 0;
  background-color: #000000;
}

/* THE MAIN SLIDES */

#stationid {
  display: none;
}
#alerts {
  display: none;
}
#current {
  display: none;
}
#radar {
  display: none;
}
#forecast-shortterm {
  display: none;
}
#forecast-shortterm-d2 {
  display: none;
}
#forecast-extended {
  display: none;
}
#\37 day-graph {
  display: none;
}
#airquality {
  display: none;
}

.view {
  height: 480px;
  overflow: hidden;
  position: relative;
}

.wallpaper{
  position: absolute;
  z-index: -487845784;
  width: 100%;
  height: 100%;
  right: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}
hr {
  margin-bottom: -20px;
  margin-top: 0%;
  border-top: 2px solid var(--textColour2);
}
#loading-screen {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(0,0,0) 0%, rgb(27, 27, 27) 100%);
  text-align: center;
}
#loadingscreen-spinny {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 20%;
  background-image: url(/images/hdslogo_2024.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
  z-index: 99999;
}
.topbar {
  position: sticky;
  z-index: 4;
  margin-top: 4.5%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 576px;
  height: 15%;
  background-color: #212529a6;
  border-radius: 10px;
  backdrop-filter: blur(30px);
}
.topbar-channel-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 30%;
  background-color: #ced4da2a;
  border-radius: 5px;
}
.topbar-channel-logo {
  width: 35%;
  height: 100%;
  background-image: url(/images/meteoch.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1%;
}
.topbar-affiliate-logo {
  width: 20%;
  height: 100%;
  background-image: url(/images/mwm.png);
  background-size: 135%;
  background-position: 0%;
  border-radius: 3px;
  background-repeat: no-repeat;
  /* margin-right: 1%; */
}
.topbar-datetime {
  position: absolute;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  bottom: 35%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;
  font-size: 10pt;
  color: var(--textColour1);
}
.topbar-presentation-info {
  margin: 4% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 96%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
.topbar-presentationinfo-thingies {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
}
.topbar-presentationinfo-thingies p {
  margin: auto auto;
  margin-left: 5px;
  font-size: 8pt;
}
.ldl-weather {
  position: fixed;
  width: 100%;
  height: 18%;
  margin: auto auto;
  color: var(--textColour2);
  bottom: 0%;
  background-color: var(--primaryColourTransparent);
}


/*  MAIN PRESENTATION  */
.main-slides {
  height: 60%;
}
.main-slide {
	margin: auto auto;
  max-width: 576px;
	width: 90%;
	height: 95%;
  padding-top: 5px;
}
/* STATION ID */
.main-info-container {
  position: relative;
  background-color: var(--primaryColourTransparent);
  border-radius: 25px;
  width: 100%;
  height: 85%;
  margin: 0 auto;
  margin-top: 3%;
}
.main-info-channelLogo {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 10%;
}
.main-info-operatorLogos {
	position: absolute;
	width: 34%;
	height: 35%;
	left: 3%;
}
.main-info-links {
	position: absolute;
	bottom: -1%;
	left: 3%;
	height: 30%;
	line-height: 1.2;
	font-size: 16pt;
}
.dataSource {
  bottom: -2%;
  position: relative;
  text-align: center;
  font-size: 45%;
  width: 50%;
  margin: 0 auto;
}
.main-info-hds1info {
	position: absolute;
	right: 9%;
	bottom: 9%;
	width: 24%;
	height: 16%;
}
.hdsLogo {
  height: 50%;
}
.versionID {
  top: -10%;
  position: absolute;
}
.main-info-netlogo-container {
	position: absolute;
	top: 39%;
	left: 3%;
	width: 37%;
	height: 11%;
	background-image: url(/images/meteoch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.main-info-sspwxrlogo-container {
	position: absolute;
	top: 12%;
	right: -16.5%;
	width: 100%;
	height: 35%;
	background-image: url(/images/sspwxr.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
/*  CURRENT CONDITIONS  */
.main-current-slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main-current-leftcontainer {
  display: block;
  background-color: var(--primaryColourTransparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  width: 30%;
  height: 100%;
  border-radius: var(--cornerRadius);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.main-current-rightcontainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColourTransparent);
  width: 64%;
  height: 91.545%;
  padding: 2%;
  line-height: 1.6;
  font-weight: 600;
  font-size: 14pt;
  border-radius: var(--cornerRadius);
}
#main-current-condition {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
#main-current-icon {
  display: block;
  width: 100%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(2px) brightness(70%);
}
#main-current-temp {
  text-align: center;
  width: 100%;
  font-size: 32pt;
}
#main-current-extralabels {
  width: 40%;
  font-weight: bold;
}
#main-current-extradata {
  text-align: right;
}
/* SHORT-TERM FORECAST */
.main-shortterm-slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.forecast-shortterm-summary {
  display: block;
  background-color: var(--primaryColourTransparent);
  width: 30%;
  height: 100%;
  border-radius: var(--cornerRadius);
}
.forecast-shortterm-text {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColourTransparent);
  width: 64%;
  height: 91.545%;
  padding: 2%;
  line-height: 1.6;
  font-size: 14pt;
  border-radius: var(--cornerRadius);
}
.forecast-shortterm-title {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.forecast-shortterm-icon {
  display: block;
  width: 50%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
.forecast-shortterm-condition {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.forecast-shortterm-temp {
  text-align: center;
  width: 100%;
  font-size: 32pt;
}
/* EXTENDED FORECAST */ 
.main-forecast-slide-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
}
.main-forecast-day {
  height: 100%;
  width: 18%;
  border-radius: 10px;
  background-color: var(--primaryColourTransparent);
}
.main-forecast-title {
  height: 10%;
  width: 100%;
  background-color: var(--primaryColour);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4%;
}
.main-forecast-condition {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-forecast-icon {
  background-color: #21252988;
  width: 100%;
  height: 20%;
}
.main-forecast-temp {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 500;
  font-size: 12pt;
}
.main-forecast-temp-labels {
  margin: 0 auto;
  width: 75%;
  font-size: 8pt;
  font-weight: bold;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main-forecast-labels {
  margin: 0 auto;
  width: 75%;
  font-size: 6pt;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6.5px;
}
.main-forecast-wind {
  width: 100%;
  background-color: #2c3135a4;
}
/* RADAR */
#radar {
	z-index: -1;
	width: 100%;
	height: 100%;
	max-width: 100% !important;
  image-rendering: crisp-edges !important;
	position: absolute;
	top: -1%;
}
.main-current-radar-container {

  background-color: #000000;
  width: 100%;
  height: 100%;
  top: 0px;

  background-size: cover;
  background-position: center;
}
.main-7day-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  /*text-shadow:#000000 2px 2px 4px;*/
  background-color: var(--primaryColourTransparent);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#main-7day-canvas-container {
  display:flex;
  margin-right: 1px;
  margin-left: 1px;
  height: 100%;
}

.main-aq-slide-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  text-shadow:#000000 2px 2px 4px;
  background-color: var(--primaryColourTransparent);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.aqilabels {
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
}
.aqidata {
	font-size: 14pt;
	padding-left: 15px;
	padding-right: 15px;
}
.aqicdata {
	font-size: 14pt;
	text-align: center;
}
#flexcontainer{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;

}
#aqi-category {
  float: left;
  width: 150px;
}

#aqi-index {
  float: left;
  width: 150px;
}

#aqi-primary-pollutant {
  float: left;
  width: 150px;
}
/* ALERTS */
.alert-box {
  border-radius: var(--cornerRadius);
  background-color: var(--primaryColourTransparent);
  padding: 1%;
  line-height: 0.2;
}
.main-alerts-standby {
  text-align: center;
  line-height: 0.2;
  margin: 0 auto;
  padding: 0.5%;
  width: 100%;
  height: 90%;
  background-color: var(--primaryColourTransparent);
  border-radius: var(--cornerRadius);
}
.main-alerts-standby-brainrot {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
.main-alerts-standby-scrolltextcontainer {
  position: absolute;
  white-space: nowrap;
  text-wrap: nowrap;
  width: 100%;
  height: 5%;
  left: 0%;
  bottom: 20%;
  text-shadow: 1pt 1pt 1pt #000000;
  animation: alertsSlidein 1s ease-in-out 1;
}
.main-alerts-standby-scrolltextdecorative {
  animation: scroll 20s linear infinite;
  margin-top: 2%;
}
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes alertsSlidein {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* LDL */
.ldl-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -45%;
  width: 100%;
  height: 120px;
}

.ldl-presentation {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 70%;
  max-width: 576px;
  overflow: hidden;
}

.ldl-presentation-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 40%;
}

.ldl-presentation-slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.ldl-icon {
  height: 25pt;
}

.ldl-slide-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.ldl-location-progressbar-container {
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  margin-bottom: 1pt;
  background-color: #686d72;
  border-radius: 15px;
}

#ldl-location-progressbar {
  position: absolute;
  height: 100%;
  width: 0%;
  max-width: 100%;
  background-color: white;
  border-radius: 15px;
}

.ldltext-primary {
  font-size: 16pt;
  align-self: center;
  margin-right: 10px;
  text-wrap: nowrap;
}
.ldltext-primarybutsmaller {
  font-size: 14pt;
  align-self: center;
  margin-right: 10px;
  text-wrap: nowrap;
}
.ldltext-secondary {
  font-size: 8pt;
  font-weight: lighter;
  align-self: center;
  margin-right: 5px;
}

#ldl-current {
  position: relative;
  width: 90%;
}

#ldl-forecast {
  position: relative;
  display: none;
  width: 70%;
}

#ldl-aqi {
  position: relative;
  display: block;
  width: 65%;
  display: none;
}

.ldl-netlogo {
	width: 20%;
	height: 60%;
  font-size: 8pt;
  line-height: 1.2;
  font-weight: bold;
  text-align: right;
  padding-right: 1%;
}

#ldl-netlogo-container {
  width: 100%;
  height: 40%;
  background-image: url(/images/meteoch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* LDL CURRENT CONDITIONS */

.ldl-current-cond-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 55%;
}

#ldl-current-condition {
  align-self: center;
  flex-grow: 1;
}

.ldl-current-wind {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 55%;
}

.ldl-current-module {
  display: none;
  justify-content: space-between;
  margin-left: 5px;
  line-height: 1;
  font-size: 10pt;
  width: 100%;
  flex-grow: 3;
  font-weight: lighter;
  align-self: center;
  margin-right: 5px;
}

#ldl-current-module2 {
  text-wrap: nowrap;
  display: flex;
  flex-grow: 4;
  font-size: small;
}

.module-value {
  font-weight: 400;
}



/* FORECAST */

.ldl-forecast-day-cond {
  align-self: center;
}

.ldl-day {
  position: relative;
  display: flex;
}

#ldl-forecast-day0-container {
  width: 100%;
}

#ldl-forecast-day1-container {
  width: 100%;
}

/* ANIMATIONS */
@keyframes slideIn {
  0% {
      transform: translateX(-300%);
  }
  100% {
      transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
      transform: translateX(0%);
  }
  100% {
      
      transform: translateX(-300%);
  }
}

@keyframes switchModules {
  0% {
      transform: translateY(-300%);
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes fadeModule {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes progressBar {
  0% {
      width: 0%;
  }
  98% {
      width: 100%;
      opacity: 1;
  }
  100% {
      width: 100%;
      opacity: 0;
  }
}
@keyframes mainPresentationSlideIn {
  0% {
    transform: translateX(100%);
}
  100% {
    transform: translateX(0%);
}
}

@keyframes mainPresentationSlideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
}
  100% {
    transform: translateY(-100%);
    opacity: 0;
}
}
@keyframes ldlProgressBar {
  0% {
    width: 0%;
    opacity: 1;
}
  98% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
}
}