@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins';
  color: var(--textColour2);
  --primaryColour: #101218e1;
  --secondaryColour: #101218e1;
  --thirdColour: #242424b7;
  --fourthColour: #101218e1;
  --fifthColour: #2b415e96;
  --sixthColour: #3f465ae1;
  --seventhColour: #212121;
  --thirdColourTransparent: #a2d2ffcb;
  --textColour1: #ffffffe1;
  --textColour2: #ffffff;
  --cornerRadius: 10px;
  --defaultOutline: 4.8px solid #ffffff00;
  --mainSlideBlur: blur(10px);

  --mainGradient: linear-gradient(var(--primaryColour), var(--secondaryColour));
  --secondGradient: linear-gradient(var(--fifthColour), var(--fourthColour));
  --thirdGradient: linear-gradient(var(--sixthColour), var(--seventhColour));
  --mainSlideGradient: var(--secondGradient);
}

body {
  margin: 0 0;
  background-color: #000000;
}

/* THE MAIN SLIDES */

#stationid {
  display: none;
}
#alerts {
  display: none;
}
#current {
  display: none;
}
#radar {
  display: block;
}
#forecast-shortterm {
  display: none;
}
#forecast-shortterm-d2 {
  display: none;
}
#forecast-extended {
  display: none;
}
#\37 day-graph {
  display: none;
}
#airquality {
  display: none;
}

.view {
  height: 480px;
  overflow: hidden;
  position: relative;
}

.wallpaper{
  position: absolute;
  z-index: -487845784;
  width: 100%;
  height: 100%;
  right: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}
hr {
  margin-bottom: -20px;
  margin-top: 0%;
  border-top: 2px solid var(--textColour2);
}
#loading-screen {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(0,0,0) 0%, rgb(27, 27, 27) 100%);
  text-align: center;
  z-index: 1000;
}
#loadingscreen-spinny {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 20%;
  background-image: url(/images/hdslogo_2024.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
  z-index: 99999;
}
.topbar {
  position: sticky;
  z-index: 4;
  margin-top: 4.5%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 576px;
  height: 15%;
  background-image: var(--mainGradient);
  border-radius: 10px;
  backdrop-filter: blur(30px);
}
.topbar-channel-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 30%;
  background-image: linear-gradient(to right, rgba(206, 212, 218, 0.2), rgba(230, 230, 230, 0.349));
  border-radius: 5px;
}
.topbar-channel-logo {
  width: 35%;
  height: 100%;
  background-image: url(/images/meteoch.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1%;
}
.topbar-affiliate-logo {
  width: 20%;
  height: 100%;
  background-image: url(/images/mwm.png);
  background-size: cover;
  background-position: 0%;
  border-radius: 3px;
  background-repeat: no-repeat;
}
.topbar-datetime {
  position: absolute;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  bottom: 35%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;
  font-size: 10pt;
  color: var(--textColour1);
}
.topbar-presentation-info {
  margin: 4% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 96%;
  text-align: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.topbar-presentationinfo-thingies {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
}
.topbar-presentationinfo-thingies p {
  margin: auto auto;
  margin-left: 5px;
  font-size: 8pt;
}
/*  MAIN PRESENTATION  */
.main-slides {
  height: 60%;
}
.main-slide {
	margin: auto auto;
  max-width: 576px;
	width: 90%;
	height: 95%;
  padding-top: 5px;
}
/* STATION ID */
.main-info-container {
  position: relative;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: 25px;
  width: 100%;
  height: 85%;
  margin: 0 auto;
  margin-top: 3%;
}
.main-info-channelLogo {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 10%;
}
.main-info-operatorLogos {
	position: absolute;
	width: 34%;
	height: 35%;
	left: 3%;
}
.main-info-links {
	position: absolute;
	bottom: -1%;
	left: 3%;
	height: 30%;
	line-height: 1.2;
	font-size: 16pt;
}
.dataSource {
  bottom: -2%;
  position: relative;
  text-align: center;
  font-size: 45%;
  width: 50%;
  margin: 0 auto;
}
.main-info-hds1info {
	position: absolute;
	right: 9%;
	bottom: 9%;
	width: 24%;
	height: 16%;
}
.hdsLogo {
  height: 50%;
}
.versionID {
  top: -10%;
  position: absolute;
}
.main-info-netlogo-container {
	position: absolute;
	top: 39%;
	left: 3%;
	width: 37%;
	height: 11%;
	background-image: url(/images/meteoch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.main-info-sspwxrlogo-container {
	position: absolute;
	top: 12%;
	right: -16.5%;
	width: 100%;
	height: 35%;
	background-image: url(/images/sspwxr.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
/*  CURRENT CONDITIONS  */
.main-current-slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main-current-leftcontainer {
  display: block;
  background-image: var(--mainGradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
  width: 30%;
  height: 100%;
  border-radius: var(--cornerRadius);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
#main-current-box-filter {
  border-radius: var(--cornerRadius);
  width: 100%;
  height: 100%;
}
.main-current-rightcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  width: 64%;
  height: 91.545%;
  padding: 2%;
  line-height: 1.6;
  font-weight: 600;
  font-size: 14pt;
}
#main-current-condition {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
#main-current-icon {
  display: block;
  width: 100%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(2px) brightness(70%);
}
#main-current-temp {
  text-align: center;
  width: 100%;
  font-size: 32pt;
  font-weight: 300;
}
.main-current-conditions-slotone {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
.main-current-condtions-box {
  width: 30%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--cornerRadius);
  background-image: var(--secondGradient);
  font-size: 9pt;

  outline: var(--defaultOutline);
}
.main-current-icon-container {
  width: 100%;
  height: 30%;

}
#main-current-windicon {
  height: 100%;
}
#main-current-feelslikeicon {
  height: 100%;
}
.main-current-boxlabel {
  font-weight: 200;
}
#main-current-windvalue {
  font-weight: 200;
}
#main-current-windvalue-gust {
  font-size: 7pt;
  font-weight: lighter;
}
#main-current-feelslikevalue {
  font-weight: 200;
  font-size: 14pt;
}
.main-current-sunicon {
  height: 18pt;
}
.main-current-sunrisesunset-container {
  display: flex;
  margin: auto auto;
  justify-content: space-between;
  width: 65%;
  font-size: 10pt;
}
.main-current-conditions-slottwo {
  overflow: hidden;
  height: 55%;
}
.main-current-extraproducts {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  overflow: hidden;
}
.main-current-module1 {
  display: none;
}
.main-current-module2 {
  display: none;
}
/* SHORT-TERM FORECAST */
.main-shortterm-slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.forecast-shortterm-summary {
  display: block;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  width: 30%;
  height: 100%;
  border-radius: var(--cornerRadius);
}
.forecast-shortterm-text {
  display: flex;
  justify-content: space-between;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  width: 64%;
  height: 91.545%;
  padding: 2%;
  line-height: 1.6;
  font-size: 14pt;
  border-radius: var(--cornerRadius);
}
.forecast-shortterm-title {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.forecast-shortterm-icon {
  display: block;
  width: 50%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
.forecast-shortterm-condition {
  padding-top: 20%;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.forecast-shortterm-temp {
  text-align: center;
  width: 100%;
  font-size: 32pt;
  font-weight: 300;
}
/* EXTENDED FORECAST */ 
.main-forecast-slide-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
}
.main-forecast-day {
  height: 100%;
  width: 18%;
  border-radius: 10px;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
}
.main-forecast-title {
  height: 10%;
  width: 100%;
  background-image: var(--thirdGradient);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4%;
}
.main-forecast-condition {
  white-space: nowrap;
}
.main-forecast-icon {
  background-image: var(--thirdGradient);
  width: 100%;
  height: 20%;
}
.main-forecast-temp {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 500;
  font-size: 12pt;
}
.main-forecast-temp-labels {
  margin: 0 auto;
  width: 75%;
  font-size: 8pt;
  font-weight: bold;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main-forecast-labels {
  margin: 0 auto;
  width: 75%;
  font-size: 6pt;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 6.5px;
}
.main-forecast-wind {
  width: 100%;
  font-size: 8pt;
  white-space: nowrap;
  background-image: var(--thirdGradient);
}
/* RADAR */
#radar {
  position: relative;
	z-index: -1;
	width: 100%;
	height: 480px;
	max-width: 100% !important;
	position: absolute;
}
.mapboxgl-control-container {
  width: 100%;
  height: 480px !important;
  image-rendering: pixelated;
}

.main-radar {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0%;
  opacity: 0%;
  z-index: -1;
  pointer-events: none;
  will-change: opacity, transform;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  opacity: 0%;
}
.main-7day-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  /*text-shadow:#000000 2px 2px 4px;*/
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#main-7day-canvas-container {
  display:flex;
  margin-right: 1px;
  margin-left: 1px;
  height: 100%;
}
/* AIR QUALITY */
.main-aq-slide-container {
  width: 100%;
  height: 100%;
}
.main-aq-index-label {
  font-weight: 200;
}
.main-aq-messagebox {
  display: none;
}
.aqilabels {
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
}
.aqidata {
	font-size: 14pt;
	padding-left: 15px;
	padding-right: 15px;
}
.aqicdata {
	font-size: 18pt;
  font-weight: 300;
	text-align: center;
}
.main-aq-box {
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  width: 30%;
  height: 100%;
}
.main-aq-flexcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  width: 100%;
  height: 25%;
}

.main-aq-messages {
  overflow: hidden;
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  margin-top: 2%;
  width: 96.6%;
  height: 65%;
  padding: 10px;
}
#aqi-category {
  float: left;
  width: 150px;
}

#aqi-index {
  float: left;
  width: 150px;
}

#aqi-primary-pollutant {
  float: left;
  width: 150px;
}
/* ALERTS */
.alert-box {
  border-radius: var(--cornerRadius);
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  padding: 1%;
  line-height: 0.2;
}
.main-alerts-standby {
  position: relative;
  text-align: center;
  line-height: 0.2;
  margin: 0 auto;
  padding: 0.5%;
  width: 100%;
  height: 90%;
  background-image: var(--mainSlideGradient);
  backdrop-filter: var(--mainSlideBlur);
  border-radius: var(--cornerRadius);
}
.main-alerts-standby-brainrot {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
.main-alerts-standby-scrolltextcontainer {
	position: relative;
	white-space: nowrap;
	width: 100%;
	height: 5%;
	left: 0%;
	text-shadow: rgb(0, 0, 0) 1pt 1pt 1pt;
	bottom: -64%;
  animation: slidein 2s ease-in-out 1;
}
.main-alerts-standby-scrolltextdecorative {
  animation: scroll 20s linear infinite;
  margin-top: 2%;
}
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slidein {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* LDL */
.ldl-weather {
  position: fixed;
  width: 100%;
  height: 18%;
  margin: auto auto;
  color: var(--textColour2);
  bottom: 0%;
  background: var(--mainGradient);
  backdrop-filter: blur(10px);
}
.ldl-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -45%;
  width: 100%;
  height: 120px;
}

.ldl-presentation {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 65%;
  max-width: 576px;
  overflow: hidden;
}

.ldl-presentation-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  line-height: 1;
}

.ldl-presentation-slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.ldl-icon {
  height: 100%;
}

.ldl-slide-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.ldl-location-progressbar-container {
  display: block;
  width: 100%;
  height: 1.5px;
  position: relative;
  margin-bottom: 1pt;
  background-color: #686d7257;
  border-radius: 15px;
}

#ldl-location-progressbar {
  position: absolute;
  height: 100%;
  width: 0%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 15px;
}

.ldl-bottomtext-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.ldl-marquee {
	width: 55%;
	height: 100%;
  background-image: linear-gradient(to right, rgba(206, 212, 218, 0.2), rgba(201, 201, 201, 0.349));
	border-radius: 4pt;
	font-weight: 500;
	overflow: hidden;
  font-size: 10pt;
}

.ldl-locationlabel-container {
  width: 32%;
  height: 100%;
}

#ldl-location-label {
  overflow: visible;
  white-space: nowrap;
  font-size: 8pt;
}

#ldl-location {
  height: 25.5%;
}

.ldltext-primary {
  font-size: 14pt;
  align-self: center;
  margin-right: 10px;
  text-wrap: nowrap;
  white-space: nowrap;
}
.ldltext-primarybutsmaller {
  font-size: 10pt;
  align-self: center;
  margin-right: 10px;
  text-wrap: nowrap;
  white-space: nowrap;
}
.ldltext-secondary {
  font-size: 9pt;
  font-weight: 400;
  align-self: center;
  margin-right: 5px;
}

#ldl-current {
  position: relative;
  width: 90%;
}

#ldl-forecast {
  position: relative;
  display: none;
  width: 70%;
}

#ldl-aqi {
  position: relative;
  display: block;
  width: 65%;
  display: none;
}

.ldl-netlogo {
	width: 20%;
	height: 60%;
  font-size: 8pt;
  line-height: 1.2;
  font-weight: bold;
  text-align: right;
  padding-right: 1%;
}

#ldl-netlogo-container {
  width: 100%;
  height: 40%;
  background-image: url(/images/meteoch.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* LDL CURRENT CONDITIONS */

.ldl-current-cond-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 65%;
}

#ldl-current-condition {
  align-self: center;
  flex-grow: 1;
}

.ldl-current-wind {
	width: 35%;
	align-self: center;
}

#ldl-current-wind-label {
  font-size: 8pt;
  font-weight: 300;

}

#ldl-current-wind-value {
  font-size: 8pt;
  font-weight: 500;
}

.ldl-current-module {
  display: none;
  justify-content: space-between;
  margin-left: 5px;
  line-height: 1;
  font-size: 8pt;
  width: 90%;
  flex-grow: 3;
  font-weight: 300;
  align-self: center;
  margin-right: 5px;
}

#ldl-current-module2 {
  text-wrap: nowrap;
  display: flex;
  flex-grow: 4;
  font-size: 8pt;
}

.module-value {
  font-weight: 500;
}



/* FORECAST */

.ldl-forecast-day-cond {
  align-self: center;
}

.ldl-day {
  position: relative;
  display: flex;
}

#ldl-forecast-day0-container {
  width: 100%;
}

#ldl-forecast-day1-container {
  width: 100%;
}

/* ANIMATIONS */
@keyframes slideIn {
  0% {
      transform: translateX(-300%);
  }
  100% {
      transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
      transform: translateX(0%);
  }
  100% {
      
      transform: translateX(-300%);
  }
}

@keyframes switchModules {
  0% {
      transform: translateY(-300%);
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes fadeModule {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fadeInTypeBeat {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes progressBar {
  0% {
      width: 0%;
  }
  98% {
      width: 100%;
      opacity: 1;
  }
  100% {
      width: 100%;
      opacity: 0;
  }
}
@keyframes mainPresentationSlideIn {
  0% {
    transform: translateX(100%);
}
  100% {
    transform: translateX(0%);
}
}

@keyframes mainPresentationSlideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
}
  100% {
    transform: translateY(-100%);
    opacity: 0;
}
}
@keyframes ldlProgressBar {
  0% {
    width: 0%;
    opacity: 1;
}
  98% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
}
}
@keyframes pop {
  0% {
      transform: scale(0.95) rotate(340deg);
  }
  50% {
      transform: scale(1) rotate(340deg);
  }
  100% {
      transform: scale(0.95) rotate(340deg);
  }
}